<h1>
  Hello you signed as your role is
  <span style="color: red; text-transform: uppercase">{{ role }}</span>
</h1>
<div class="user-table" *ngIf="users$ | async as users">
  <h1 *ngIf="users.length === 0">THERE IS NO USER</h1>
  <div class="add-user">
    <button
      class="mat-large"
      mat-raised-button
      color="warn"
      (click)="openAddDialog()"
      *ngIf="role === 'admin'"
    >
      Add User
    </button>
  </div>
  <mat-table [dataSource]="users" matSort *ngIf="users.length !== 0">
    <!-- NAME -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
    </ng-container>
    <!-- LAST NAME -->
    <ng-container matColumnDef="last name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Last Name
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
    </ng-container>

    <!--Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Email
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <!-- GENDER -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Gender
      </mat-header-cell>
      <div>
        <mat-cell *matCellDef="let user"> {{ user.gender }} </mat-cell>
      </div>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let user" class="actions">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="onDetails(user)"
        >
          <mat-icon>details</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          *ngIf="role === 'admin'"
          (click)="onEdit(user)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a menu icon"
          *ngIf="role === 'admin'"
          (click)="onDelete(user)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator *ngIf="users.length !== 0"></mat-paginator>
</div>
<ng-container *ngIf="loaderService.isLoading | async">
  <mat-progress-bar color="warn"></mat-progress-bar>
</ng-container>
