.card {
  width: 500px;
}
.row {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}
.group {
  justify-content: center;
}
.content {
  padding-top: 10px;
}
mat-form-field {
  width: 100%;
}

.dob {
  width: 100%;
}

.main-container {
  text-align: -webkit-center;
}
.mat-button {
  width: 100%;
  color: #fff;
  height: 40px;
}
.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.create-account {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
}
.new-acc {
  width: 50%;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  background-color: rgb(67, 67, 235);
  border-radius: 12px;
  padding: 5px 0;
}
