<div class="main-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{
        data && checkRoute() ? "Update" : "Register"
      }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="error">
        <p style="color: red">{{ error }}</p>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form">
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="loaderService.isLoading | async"
          ></mat-progress-bar>
          <div class="row">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                placeholder="Ex. Giorgi"
                formControlName="name"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                placeholder="Ex. Kalandadze"
                formControlName="lastName"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Ex. ex@example.com"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <mat-radio-group
            aria-label="Select an option"
            class="row"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="full-width">
            <mat-label>Phone Number</mat-label>
            <input
              type="number"
              matInput
              placeholder="Ex. 000000000"
              formControlName="phoneNumber"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div class="create-account" *ngIf="data && !checkRoute()">
          <a class="new-acc" routerLink="/auth/login">Back to login</a>
        </div>
        <button
          type="submit"
          class="mat-button"
          mat-raised-button
          color="primary"
        >
          {{ data && checkRoute() ? "Update user" : "Sign up" }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
