.card {
  width: 500px;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.main-container {
  text-align: -webkit-center;
}
.mat-button {
  width: 100%;
  color: #fff;
  height: 40px;
}
.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
